.product{
    width: 200px;
    height: 250px;
    border: 1px solid#ccc;
}
.product .img{
    width: 100%;
    height: 150px;

}

.product .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.btnRemove{
    background-color: #cf3d3d !important;

}